<app-header></app-header>
<section class="text-gray-600 body-font overflow-hidden">
    <div class="container px-5 py-24 mx-auto">
        <div class="-my-8 divide-y-2 divide-gray-100">
            <div class="py-8 flex flex-wrap md:flex-nowrap" *ngFor="let item of items">
                <div class="md:w-64 md:mb-0 mb-6 flex-shrink-0 flex flex-col mr-2">
                    <span class="mt-1 text-gray-500 text-sm">Image {{item.image}}</span>
                    <span class="font-semibold title-font text-gray-700"
                        style="max-width:240px; word-wrap:break-word;">{{item.name}}</span>

                </div>
                <div class="md:flex-grow">
                    <h2 class="text-2xl font-medium text-gray-900 title-font mb-2">{{item.shortDescription}}</h2>
                    <p class="leading-relaxed">{{item.longDescription}}</p>
                    <span class="text-sm font-medium bg-green-100 py-1 px-2 rounded text-green-500 align-middle"
                        *ngIf="item.arEnabled">AR Enabled</span>
                    <span class="text-sm font-medium bg-red-100 py-1 px-2 rounded text-red-500 align-middle"
                        *ngIf="!item.arEnabled">AR Disabled</span>
                    <!-- Toggle B -->
                    <div class="flex items-center justify-center w-full mb-12">

                        <label [for]="item.arId" class="flex items-center cursor-pointer">
                            <!-- toggle -->
                            <div class="relative">
                                <!-- input -->
                                <input type="checkbox" [id]="item.arId" [(ngModel)]="item.arEnabled" [name]="item.arId" (change)="updateARView($event, item.arId);"  class="sr-only">
                                <!-- line -->
                                <div class="block bg-gray-600 w-14 h-8 rounded-full"></div>
                                <!-- dot -->
                                <div class="dot absolute left-1 top-1 bg-white w-6 h-6 rounded-full transition"></div>
                            </div>
                            <!-- label -->
                            <div class="ml-3 text-gray-700 font-medium">
                                Enable/Disable AR Feature
                            </div>
                        </label>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>